.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination p {
    margin: 8px;
}

.pagination a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #bbb;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #d6eaf8;}


@media only screen  and (max-width : 1130px) {

    .pagination {
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }


}
